
==================== BĚH EXPERIMENTU č. 1/5 ====================
Generuji novou sadu trénovacích a testovacích dat...

--- Testuji Batch Size = 16 ---
Zahajuji trénování KalmanNetu...
Epocha [10/30], Prům. chyba: 2089260363511724244992.000000, Prům. norma grad.: inf
Epocha [20/30], Prům. chyba: 2080558304633298354176.000000, Prům. norma grad.: inf
Epocha [30/30], Prům. chyba: 2089841411915210555392.000000, Prům. norma grad.: inf
Trénování dokončeno.
ERROR: Trénování pro Batch Size 16 selhalo. Výsledná MSE je inf.

--- Testuji Batch Size = 32 ---
Zahajuji trénování KalmanNetu...
Epocha [10/30], Prům. chyba: 5815066271073712472064.000000, Prům. norma grad.: inf
Epocha [20/30], Prům. chyba: 0.066716, Prům. norma grad.: 0.0306
Epocha [30/30], Prům. chyba: 0.064354, Prům. norma grad.: 0.0365
Trénování dokončeno.
Výsledná MSE pro Batch Size 32: 0.062260

--- Testuji Batch Size = 64 ---
Zahajuji trénování KalmanNetu...
Epocha [10/30], Prům. chyba: 0.069675, Prům. norma grad.: 0.0469
Epocha [20/30], Prům. chyba: 0.066256, Prům. norma grad.: 0.0262
Epocha [30/30], Prům. chyba: 0.065078, Prům. norma grad.: 0.0280
Trénování dokončeno.
Výsledná MSE pro Batch Size 64: 0.062614

--- Testuji Batch Size = 128 ---
Zahajuji trénování KalmanNetu...
Epocha [10/30], Prům. chyba: 0.077486, Prům. norma grad.: 0.0619
Epocha [20/30], Prům. chyba: 0.070926, Prům. norma grad.: 0.0436
Epocha [30/30], Prům. chyba: 0.067870, Prům. norma grad.: 0.0284
Trénování dokončeno.
Výsledná MSE pro Batch Size 128: 0.064572

--- Testuji Batch Size = 256 ---
Zahajuji trénování KalmanNetu...
Epocha [10/30], Prům. chyba: 0.109143, Prům. norma grad.: 1.0099
Epocha [20/30], Prům. chyba: 0.073875, Prům. norma grad.: 0.0736
Epocha [30/30], Prům. chyba: 0.070892, Prům. norma grad.: 0.0428
Trénování dokončeno.
Výsledná MSE pro Batch Size 256: 0.066638

==================== BĚH EXPERIMENTU č. 2/5 ====================
Generuji novou sadu trénovacích a testovacích dat...

--- Testuji Batch Size = 16 ---
Zahajuji trénování KalmanNetu...
Epocha [10/30], Prům. chyba: 0.064453, Prům. norma grad.: 0.0598
Epocha [20/30], Prům. chyba: 0.062230, Prům. norma grad.: 0.0634
Epocha [30/30], Prům. chyba: 0.061706, Prům. norma grad.: 0.0562
Trénování dokončeno.
Výsledná MSE pro Batch Size 16: 0.061534

--- Testuji Batch Size = 32 ---
Zahajuji trénování KalmanNetu...
Epocha [10/30], Prům. chyba: 0.065569, Prům. norma grad.: 0.0434
Epocha [20/30], Prům. chyba: 0.063426, Prům. norma grad.: 0.0326
Epocha [30/30], Prům. chyba: 0.062480, Prům. norma grad.: 0.0306
Trénování dokončeno.
Výsledná MSE pro Batch Size 32: 0.062020

--- Testuji Batch Size = 64 ---
Zahajuji trénování KalmanNetu...
Epocha [10/30], Prům. chyba: 0.071186, Prům. norma grad.: 0.0540
Epocha [20/30], Prům. chyba: 0.066561, Prům. norma grad.: 0.0332
Epocha [30/30], Prům. chyba: 0.065159, Prům. norma grad.: 0.0293
Trénování dokončeno.
Výsledná MSE pro Batch Size 64: 0.063658

--- Testuji Batch Size = 128 ---
Zahajuji trénování KalmanNetu...
Epocha [10/30], Prům. chyba: 3244326889767331059772450096021504.000000, Prům. norma grad.: inf
Epocha [20/30], Prům. chyba: 3222609727000960747443961555058688.000000, Prům. norma grad.: inf
Epocha [30/30], Prům. chyba: 3212939674440961682430987817975808.000000, Prům. norma grad.: inf
Trénování dokončeno.
ERROR: Trénování pro Batch Size 128 selhalo. Výsledná MSE je inf.

--- Testuji Batch Size = 256 ---
Zahajuji trénování KalmanNetu...
Epocha [10/30], Prům. chyba: 0.081138, Prům. norma grad.: 0.1368
Epocha [20/30], Prům. chyba: 0.075232, Prům. norma grad.: 0.0604
Epocha [30/30], Prům. chyba: 0.071590, Prům. norma grad.: 0.0507
Trénování dokončeno.
Výsledná MSE pro Batch Size 256: 0.067706

==================== BĚH EXPERIMENTU č. 3/5 ====================
Generuji novou sadu trénovacích a testovacích dat...

--- Testuji Batch Size = 16 ---
Zahajuji trénování KalmanNetu...
Epocha [10/30], Prům. chyba: 0.066410, Prům. norma grad.: 0.0465
Epocha [20/30], Prům. chyba: 0.063384, Prům. norma grad.: 0.0451
Epocha [30/30], Prům. chyba: 0.062175, Prům. norma grad.: 0.0524
Trénování dokončeno.
Výsledná MSE pro Batch Size 16: 0.062096

--- Testuji Batch Size = 32 ---
Zahajuji trénování KalmanNetu...
Epocha [10/30], Prům. chyba: 0.067999, Prům. norma grad.: 0.0473
Epocha [20/30], Prům. chyba: 0.065305, Prům. norma grad.: 0.0314
Epocha [30/30], Prům. chyba: 0.064112, Prům. norma grad.: 0.0423
Trénování dokončeno.
Výsledná MSE pro Batch Size 32: 0.063413

--- Testuji Batch Size = 64 ---
Zahajuji trénování KalmanNetu...
Epocha [10/30], Prům. chyba: 0.070176, Prům. norma grad.: 0.0440
Epocha [20/30], Prům. chyba: 0.066173, Prům. norma grad.: 0.0265
Epocha [30/30], Prům. chyba: 0.064992, Prům. norma grad.: 0.0269
Trénování dokončeno.
Výsledná MSE pro Batch Size 64: 0.064108

--- Testuji Batch Size = 128 ---
Zahajuji trénování KalmanNetu...
Epocha [10/30], Prům. chyba: 1682706321451551555584.000000, Prům. norma grad.: inf
Epocha [20/30], Prům. chyba: 1674550463055081242624.000000, Prům. norma grad.: inf
Epocha [30/30], Prům. chyba: 1716390855226492452864.000000, Prům. norma grad.: inf
Trénování dokončeno.
ERROR: Trénování pro Batch Size 128 selhalo. Výsledná MSE je inf.

--- Testuji Batch Size = 256 ---
Zahajuji trénování KalmanNetu...
Epocha [10/30], Prům. chyba: 0.089799, Prům. norma grad.: 0.3992
Epocha [20/30], Prům. chyba: 0.077657, Prům. norma grad.: 0.0662
Epocha [30/30], Prům. chyba: 0.073994, Prům. norma grad.: 0.0546
Trénování dokončeno.
Výsledná MSE pro Batch Size 256: 0.069546

==================== BĚH EXPERIMENTU č. 4/5 ====================
Generuji novou sadu trénovacích a testovacích dat...

--- Testuji Batch Size = 16 ---
Zahajuji trénování KalmanNetu...
Epocha [10/30], Prům. chyba: 0.064247, Prům. norma grad.: 0.0479
Epocha [20/30], Prům. chyba: 0.062294, Prům. norma grad.: 0.0613
Epocha [30/30], Prům. chyba: 0.061766, Prům. norma grad.: 0.0661
Trénování dokončeno.
Výsledná MSE pro Batch Size 16: 0.062485

--- Testuji Batch Size = 32 ---
Zahajuji trénování KalmanNetu...
Epocha [10/30], Prům. chyba: 0.065932, Prům. norma grad.: 0.0338
Epocha [20/30], Prům. chyba: 0.063316, Prům. norma grad.: 0.0367
Epocha [30/30], Prům. chyba: 0.062236, Prům. norma grad.: 0.0341
Trénování dokončeno.
Výsledná MSE pro Batch Size 32: 0.062740

--- Testuji Batch Size = 64 ---
Zahajuji trénování KalmanNetu...
Epocha [10/30], Prům. chyba: 0.071755, Prům. norma grad.: 0.0596
Epocha [20/30], Prům. chyba: 0.067232, Prům. norma grad.: 0.0303
Epocha [30/30], Prům. chyba: 0.065780, Prům. norma grad.: 0.0301
Trénování dokončeno.
Výsledná MSE pro Batch Size 64: 0.064676

--- Testuji Batch Size = 128 ---
Zahajuji trénování KalmanNetu...
Epocha [10/30], Prům. chyba: 534890544199784419065289651519488.000000, Prům. norma grad.: inf
Epocha [20/30], Prům. chyba: 542560293591539283270244453318656.000000, Prům. norma grad.: inf
Epocha [30/30], Prům. chyba: 534532924599529297921344769359872.000000, Prům. norma grad.: inf
Trénování dokončeno.
ERROR: Trénování pro Batch Size 128 selhalo. Výsledná MSE je inf.

--- Testuji Batch Size = 256 ---
Zahajuji trénování KalmanNetu...
Epocha [10/30], Prům. chyba: 0.076733, Prům. norma grad.: 0.0976
Epocha [20/30], Prům. chyba: 0.071691, Prům. norma grad.: 0.0567
Epocha [30/30], Prům. chyba: 0.068949, Prům. norma grad.: 0.0357
Trénování dokončeno.
Výsledná MSE pro Batch Size 256: 0.065919

==================== BĚH EXPERIMENTU č. 5/5 ====================
Generuji novou sadu trénovacích a testovacích dat...

--- Testuji Batch Size = 16 ---
Zahajuji trénování KalmanNetu...
Epocha [10/30], Prům. chyba: 0.065643, Prům. norma grad.: 0.0529
Epocha [20/30], Prům. chyba: 0.062913, Prům. norma grad.: 0.0501
Epocha [30/30], Prům. chyba: 0.062289, Prům. norma grad.: 0.0555
Trénování dokončeno.
Výsledná MSE pro Batch Size 16: 0.061826

--- Testuji Batch Size = 32 ---
Zahajuji trénování KalmanNetu...
Epocha [10/30], Prům. chyba: 0.067097, Prům. norma grad.: 0.0382
Epocha [20/30], Prům. chyba: 0.064725, Prům. norma grad.: 0.0324
Epocha [30/30], Prům. chyba: 0.063295, Prům. norma grad.: 0.0357
Trénování dokončeno.
Výsledná MSE pro Batch Size 32: 0.062574

--- Testuji Batch Size = 64 ---
Zahajuji trénování KalmanNetu...
Epocha [10/30], Prům. chyba: 0.071339, Prům. norma grad.: 0.0547
Epocha [20/30], Prům. chyba: 0.066991, Prům. norma grad.: 0.0335
Epocha [30/30], Prům. chyba: 0.065697, Prům. norma grad.: 0.0327
Trénování dokončeno.
Výsledná MSE pro Batch Size 64: 0.063843

--- Testuji Batch Size = 128 ---
Zahajuji trénování KalmanNetu...
Epocha [10/30], Prům. chyba: 4387608881581260800.000000, Prům. norma grad.: inf
Epocha [20/30], Prům. chyba: 4406118506999840768.000000, Prům. norma grad.: inf
Epocha [30/30], Prům. chyba: 4384392260314202112.000000, Prům. norma grad.: inf
Trénování dokončeno.
ERROR: Trénování pro Batch Size 128 selhalo. Výsledná MSE je inf.

--- Testuji Batch Size = 256 ---
Zahajuji trénování KalmanNetu...
Epocha [10/30], Prům. chyba: 0.077096, Prům. norma grad.: 0.1196
Epocha [20/30], Prům. chyba: 0.071288, Prům. norma grad.: 0.0677
Epocha [30/30], Prům. chyba: 0.068526, Prům. norma grad.: 0.0416
Trénování dokončeno.
Výsledná MSE pro Batch Size 256: 0.065394


--- Finální výsledky experimentu ---
Statistiky z úspěšných běhů:
                mean       std       min       max  count
batch_size                                               
16          0.061985  0.000405  0.061534  0.062485      4
32          0.062601  0.000532  0.062020  0.063413      5
64          0.063780  0.000756  0.062614  0.064676      5
128         0.064572       NaN  0.064572  0.064572      1
256         0.067041  0.001647  0.065394  0.069546      5